extends layout

block content
    h1 Films
    h2 List of Films
    table#actors.pure-table.pure-table-bordered
        thead
            tr
                th
                th Title
                th Description
                th Release Year
                th Rating
                th 
        tbody
            each film, index in films
                - var query = "film_id=" + film.film_id
                if index % 2
                    tr.pure-table-odd
                        include film-row-item
                else
                    tr
                        include film-row-item
