doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/pure/pure-min.css')
    link(rel='stylesheet', href='/pure/grids-responsive-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  body
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading.pure-menu-link(href="api/films") Home
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href="films") Films
          li.pure-menu-item
            a.pure-menu-link(href="actors") Actors
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        .header
          h1.brand-title Movie Search
          h2.brand-tagline Search for movies to rent
      .content.pure-u-1.pure-u-md-3-4
        block content
